/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.agignore
.hg/
TAGS
node_modules
resources/public/img-cache/
resources/public/cljs/
resources/public/dcards/cljs/
resources/public/css/*.map
figwheel_server.log
*.swp
